/********************* Color reference chart****************

blue	#0052AA		RGB(0, 82, 170)
blue	#006FE6		RBG(0, 111, 230)
blue	#00B1D3		RGB(0, 177, 211)
blue	#0F3CFF		RGB(15, 60, 255)
blue	#1000C6		RGB(16, 0, 198)
green	#71CA5E		RGB(113, 202, 94)
green	#AEDA79		RGB(174, 218, 121)		Greyscaled:	#ABABAB
blue	#00BFD5		RGB(0, 191, 213)
green	#64C770		RGB(100, 199, 112)		Greyscaled:	#898989

triangle position 1		#0076E4
triangle position 2		#0082E0
triangle position 3		#008FDD
triangle position 4		#009CD9
triangle position 5		#00ABD5

Greys
#C2C2C2
#F5F5F5

************************************************************/

body{
	background-image:url("images/atlanta.jpg");
	background-size:100%;
	overflow: hidden;
}

/*HEADER*/
#header{
	top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	min-height: 16%;
	height: 16%;
	min-width: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #C2C2C2, #F5F5F5);
	background: -webkit-linear-gradient(to bottom, #C2C2C2, #F5F5F5);
}
#ATL{
	background: linear-gradient(to right, #0052AA, #006FE6);
	background: -webkit-linear-gradient(to right, #0052AA, #006FE6);
	top: 10%;
	left: 0px;
	width: 25%;
	min-height: 80%;
	height: 80%;
	position: absolute;
	overflow: hidden;
}
#ATL img{
	overflow: hidden;
	position: absolute;
	top: 50%;
	margin-top: -37px;
}
#weather{
	background-color: #F5F5F5;
	position: absolute;
	top: 10%;
	left: 25%;
	min-height: 80%;
	height: 80%;
	width: 15%;
	/*color: #1000C6;*/
	color: #0052AB;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-align: right;
	line-height: 2.5em;
	padding-right: 10px;
}
#time{
	float: right;
	height: 80%;
	/*color: #1000C6;*/
	color: #0052AB;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-align: right;
	/*padding-top: 10px;*/
	padding-right: 10px;
	top: 50%;
	/*margin-top: -18px;*/
}

/*NAVIGATION MENU*/
#nav{
	background: linear-gradient(to bottom, #006FE6, #00B1D3);
	background: -webkit-linear-gradient(to bottom, #006FE6, #00B1D3);
	top: 18%;
	left: 7%;
	position: absolute;
	height: 70%;
	width: 12%;
	overflow: hidden;
}
#nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
#nav ul span{
	min-height: 13%;
}
#nav ul span a{
	display:block;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
}
#nav ul span a:hover {
	color: #1000C6;
	/*color: #0052AB;*/
}
#nav hr {
	border-color: #00BFD5;
}
.top {
	margin-top: 2px;
}
.img {
	margin-left: 33%;
	display:block;
	width: 55px;
	height:55px;
}
.safety {
	background-image: url('images/safetyIcon.png'); 
}
a:hover .safety{
	background-image: url('images/safetyHoverIcon.png'); 
}
.transportation {
	background-image: url('images/carIcon.png'); 
}
a:hover .transportation{
	background-image: url('images/carHoverIcon.png'); 
}
.transportation:hover {
	background-image: url('images/carHoverIcon.png'); 
}
.industry {
	background-image: url('images/industryIcon.png'); 
}
a:hover .industry{
	background-image: url('images/industryHoverIcon.png'); 
}
.education {
	background-image: url('images/bookIcon.png'); 
}
a:hover .education{
	background-image: url('images/eduHoverIcon.png'); 
}
.environment {
	background-image: url('images/environmentIcon.png'); 
}
a:hover .environment{
	background-image: url('images/envHoverIcon.png'); 
}

/*MAIN CONTENT AREA*/
#content{
	background: linear-gradient(to bottom, #006FE6, #00B1D3);
	top: 18%;
	left: 20%;
	position: absolute;
	height: 70%;
	width: 72%;
	/*overflow: hidden;*/
}
.hidden,
.leftarrowdiv.home{
	display:none !important;
}
.contentWrapper{
	overflow: hidden;
}
.datarow {
	clear:both;
}
.datarow.notitles{
	padding-top: 25px;
}
.subtypeheader{
	/*color: #1000C6;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 21px;
	display: block;
	padding: 20px 0px 10px 5px;
	margin-left: 25px;
	height: 20px;
}
.datasquare{
	color: #1000C6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;	
	margin-left: 25px;
	float: left;
	display: block;
	width: 200px;
	height: 130px;
	/*background-image: url('images/dataBackground.png');*/
	text-align: center;
	cursor: pointer; 
	cursor: hand;
}
.datasquare.selected{
	position:absolute;
	top: -10px;
	left: 0px;
	width: 90%;
	height: 90%;
	z-index: 2;
	padding-top: 25px;
}
.datasquare.selected .dataheader{
	display: none;
}
.datasquare.selected .databody{
	height: 95%;
}
div.datasquare.selected div.databody span.normal{
	display:none;
}
div.datasquare div.databody .enhanced{
	display:none;
	height: 95%;
}
div.datasquare.selected div.databody .enhanced{
	display:inline;
	height: 95%;
}
.datasquare.medium{
	margin-left: 70px;
}
.datasquare.medium.selected {
	margin-left: 25px;
}
.close {
	float:right;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	/*padding-right:30px;*/
	cursor: pointer;
	position: absolute;
	right: 1%;
	top: 30px;
}
.dataheader{
	background: linear-gradient(to bottom, #AEDA79, #64C770);
	padding-top:10px;
	font-size: 14px;
	width: 200px;
	height: 50px;
	color: #000000;
}

.dataheader.red{
	background: linear-gradient(to bottom, #EA100E, #AF090D);
}
.dataheader.red:after{
	border-color: #AF090D transparent transparent transparent; /*border color should be same as div div background color*/
}

.dataheader:after{ /*arrow added to leftarrowdiv DIV*/
	content: '';
	display: block;
	position: relative;
	width: 0px;
	height: 0px;
	top: 31px;
	border-style: solid;
	border-width: 10px 100px 0px 100px;
	border-color: #64C770 transparent transparent transparent; /*border color should be same as div div background color*/
	border-style: solid;
}
.dataheader.longtext:after{
	top:11px;
}
.databody {
	width: 100%;
	margin-top: 5px;
	padding-top: 10px;
	font-size: 21px;
	
	height: 60px;
	background-color: #00BFD5;
	
	/*animation definitions*/
	/*transition: all 1s;*/
}
.leftarrowdiv:after{ /*arrow added to leftarrowdiv DIV*/
content: '';
display: block;
position: absolute;
/*top: 7%;*/
left: -30px; /*should be set to -border-width x 2 */
width: 0;
height: 0;
border-color: transparent #006FE6 transparent transparent; /*border color should be same as div div background color*/
border-style: solid;
border-width: 15px;
/*animation definitions*/
transition: top, 1s;
transition: border-color, 1s;
z-index: -1;
}
.leftarrowdiv.safety:after {
top: 7% !important;
border-color: transparent #006FE6 transparent transparent; /*border color should be same as div div background color*/
}
.leftarrowdiv.transportation:after {
top: 27% !important;
border-color: transparent #0082E0 transparent transparent; /*border color should be same as div div background color*/
}
.leftarrowdiv.industry:after {
top: 47% !important;
border-color: transparent #008FDD transparent transparent; /*border color should be same as div div background color*/
}
.leftarrowdiv.edu:after {
top: 69% !important;
border-color: transparent #009CD9 transparent transparent; /*border color should be same as div div background color*/
}
.leftarrowdiv.env:after {
top: 89% !important;
border-color: transparent #00ABD5 transparent transparent; /*border color should be same as div div background color*/
}

.expandedViewText{
	background: linear-gradient(to bottom, #F5F5F5, #C2C2C2);
	background: -webkit-linear-gradient(to bottom, #F5F5F5, #C2C2C2);
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 30%;
	max-width: 30%;
	width: 30%;
	height: 91.8%;
	min-height: 91.8%;
	max-height: 91.8%;
	font-size: 12px;
	font-family: serif;
	font-weight: 400;
	top: 30px;
	text-align: left;
	color: #000000;
	font-family: 'Noto Serif', serif;
	cursor: default;
	overflow: hidden;
}

.visualization{
	left: 40%;
}
.legend{
	left: 30%;
}

/*MAIN CONTENT AREA HOVER*/
/*span{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;
}
span:after{
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-5px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
p{
    margin:100px;
    float:left;
    position:relative;
    cursor:pointer;
}
p:hover span{
    display:block;
}*/

/*FOOTER*/
#footer{
	bottom: 3%;
	left: 0px;
	right: 0px;
	position: absolute;
	min-height: 5%;
	height: 5%;
	min-width: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #F5F5F5, #C2C2C2);
	background: -webkit-linear-gradient(to bottom, #F5F5F5, #C2C2C2);
	overflow: hidden;
}
.footerTxt1{
	left: 7%;
	top: 50%;
	margin-top: -6px;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
}
#footer ul{
	list-style-type:none;
	padding:0;
	right: 8%;
	top: 50%;
	margin-top: -6px;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	float: right;
}
#footer ul li{
	display: inline;
}
#footer ul li a{
	text-decoration: none;
	color: #000000;
}
#footer ul li a:hover{
	color: #1000C6;
	/*color: #0052AB;*/
}

/*HOMEPAGE*/
#scrollWrapper{
	position: relative;
}
#scrollBorder{
	border-style: ridge;
	border-width: 5px;
	border-color: #F5F5F5;
	margin-top: 30px;
	margin-left: 30px;
	min-width: 70%;
	width: 70%;
	min-height: 200px;
	height: 40%;
	position: absolute;
}
#scroll{
	background-image:url("images/light-20420.png");
	background-size:100%;
	margin-top: 30px;
	margin-left: 30px;
	min-width: 65%;
	width: 65%;
	min-height: 200px;
	height: 40%;
	width: 65%;
	/*opacity:0.4;
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;*/
	position: absolute;
	border-style: ridge;
	border-width: 5px;
	border-color: #F5F5F5;
}
.homeHeader{
	position: absolute;
	top: 10px;
	left: 0px;
	background-color: #F5F5F5;
	width: 40%;
	height: 2em;
	min-height: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 21px;
	padding-top: 0.5em;
	padding-left: 5px;
}
.scrollFooter{
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #F5F5F5;
	width: 99.26%;
	height: 2em;
	min-height: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	padding-top: 0.5em;
	padding-left: 5px;
}
.scrollBody{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	left: 5px;
	top: 45%;
	position: absolute;
	color: #F5F5F5;
}
.categoryBox{
	height: 110px;
	width: 110px;
	background-size: 110px 110px;
	margin-top: 30%;
	position:absolute;
	cursor: pointer; 
	cursor: hand;
}
.categorySafety{
	background-image:url("images/stock_safety.jpg");
	margin-left: 35px;
}
.categoryIndustry{
	background-image:url("images/stock_industry.jpg");
	margin-left: 435px;
}
.categoryEdu{
	background-image:url("images/stock_edu.jpg");
	margin-left: 635px;
}
.categoryEnv{
	background-image:url("images/stock_env.jpg");
	margin-left: 835px;
}
.categoryTransportation{
	background-image:url("images/stock_transportation.jpg");
	margin-left: 235px;
}

#getStarted{
	position: absolute;
	top: 53%;
}